.sidebar-outer {background-color:rgb(187,216,233);}
.sidebar-inner {background-color:rgb(93,162,203);margin:2px; }

.main-container-outer {background-color:rgb(220,234,244); }
.main-container-inner {background-color:rgb(174,206,229);margin:2px; }