@(pageDetails:PageDetails)


@header={
	<div class="subnav">
		<ul class="nav nav-pills">
			<li><a href="#global">Global styles</a></li>
			<li><a href="#gridSystem">Grid system</a></li>
			<li><a href="#fluidGridSystem">Fluid grid system</a></li>
			<li><a href="#gridCustomization">Customizing</a></li>
			<li><a href="#layouts">Layouts</a></li>
			<li><a data-toggle="modal" href="#myModal">Responsive design</a></li>
		</ul>
	</div>
	<div class="navbar">
		<div class="navbar-inner">
			<div class="container">
				<button type="button" class="btn btn-navbar" data-toggle="collapse"
					data-target=".nav-collapse">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="brand" href="./index.html">Bootstrap</a>
				<div class="nav-collapse collapse">
					<ul class="nav">
						<li class=""><a href="./index.html">Overview</a></li>
						<li class=""><a href="./scaffolding.html">Scaffolding</a></li>
						<li class=""><a href="./base-css.html">Base CSS</a></li>
						<li class="active"><a href="./components.html">Components</a>
						</li>
						<li class=""><a href="./javascript.html">Javascript
								plugins</a></li>
						<li class=""><a href="./less.html">Using LESS</a></li>
						<li class="divider-vertical"></li>
						<li class=""><a href="./download.html">Customize</a></li>
						<li class=""><a href="./examples.html">Examples</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
}


@sidebarLeft={
	<div class="sidebar-inner">
		<!--Sidebar content-->
			sidebar left content1
	</div>
	<div class="sidebar-inner">
		<!--Sidebar content-->
			sidebar left content2
	</div>
	<div class="sidebar-inner">
		<!--Sidebar content-->
			sidebar left content3
	</div>
}

@sidebarRight={
	<div class="sidebar-inner">
		<!--Sidebar content-->
			sidebar right content1
	</div>
	<div class="sidebar-inner">
		<!--Sidebar content-->
			sidebar right content2
	</div>
	<div class="sidebar-inner">
		<!--Sidebar content-->
			sidebar right content3
	</div>
}


@footer={

	<footer class="footer">
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>Designed and built with all the love in the world <a href="http://twitter.com/twitter" target="_blank">twitter</a> by <a href="http://twitter.com/mdo" target="_blank">mdo</a> and <a href="http://twitter.com/fat" target="_blank">fat</a>.</p>
        <p>Code licensed under the <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache License v2.0</a>. Documentation licensed under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>
        <p>Icons from <a href="http://glyphicons.com">Glyphicons Free</a>, licensed under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>
      </footer>
}


@loginContent={
	<div class="main-container-inner">
					<div class="row">
						<div class="span8">
						   <div class="row">
							<div class="span2 sidebar-outer">
								<div class="sidebar-inner">
									<!--Sidebar content-->
									fsdafsdf
								</div>
							</div>
							<div class="span6 main-container-inner">dfsadaddsa</div>
							</div>
						</div>
						<div class="span8">
							<div class="accordion" id="accordion2">
								<div class="accordion-group">
									<div class="accordion-heading">
										<a class="accordion-toggle" data-toggle="collapse"
											data-parent="#accordion2" href="#collapseOne">
											Collapsible Group Item #1 </a>
									</div>
									<div id="collapseOne" class="accordion-body collapse in">
										<div class="accordion-inner">Anim pariatur cliche
											reprehenderit, enim eiusmod high life accusamus terry
											richardson ad squid. 3 wolf moon officia aute, non cupidatat
											skateboard dolor brunch. Food truck quinoa nesciunt laborum
											eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on
											it squid single-origin coffee nulla assumenda shoreditch et.
											Nihil anim keffiyeh helvetica, craft beer labore wes anderson
											cred nesciunt sapiente ea proident. Ad vegan excepteur
											butcher vice lomo. Leggings occaecat craft beer
											farm-to-table, raw denim aesthetic synth nesciunt you
											probably haven't heard of them accusamus labore sustainable
											VHS.</div>
									</div>
								</div>
								<div class="accordion-group">
									<div class="accordion-heading">
										<a class="accordion-toggle" data-toggle="collapse"
											data-parent="#accordion2" href="#collapseTwo">
											Collapsible Group Item #2 </a>
									</div>
									<div id="collapseTwo" class="accordion-body collapse">
										<div class="accordion-inner">Anim pariatur cliche
											reprehenderit, enim eiusmod high life accusamus terry
											richardson ad squid. 3 wolf moon officia aute, non cupidatat
											skateboard dolor brunch. Food truck quinoa nesciunt laborum
											eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on
											it squid single-origin coffee nulla assumenda shoreditch et.
											Nihil anim keffiyeh helvetica, craft beer labore wes anderson
											cred nesciunt sapiente ea proident. Ad vegan excepteur
											butcher vice lomo. Leggings occaecat craft beer
											farm-to-table, raw denim aesthetic synth nesciunt you
											probably haven't heard of them accusamus labore sustainable
											VHS.</div>
									</div>
								</div>
								<div class="accordion-group">
									<div class="accordion-heading">
										<a class="accordion-toggle" data-toggle="collapse"
											data-parent="#accordion2" href="#collapseThree">
											Collapsible Group Item #3 </a>
									</div>
									<div id="collapseThree" class="accordion-body collapse">
										<div class="accordion-inner">Anim pariatur cliche
											reprehenderit, enim eiusmod high life accusamus terry
											richardson ad squid. 3 wolf moon officia aute, non cupidatat
											skateboard dolor brunch. Food truck quinoa nesciunt laborum
											eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on
											it squid single-origin coffee nulla assumenda shoreditch et.
											Nihil anim keffiyeh helvetica, craft beer labore wes anderson
											cred nesciunt sapiente ea proident. Ad vegan excepteur
											butcher vice lomo. Leggings occaecat craft beer
											farm-to-table, raw denim aesthetic synth nesciunt you
											probably haven't heard of them accusamus labore sustainable
											VHS.</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
}

@nonLoginContent={

}


@modalContent={
<div class="modal hide" id="myModal">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">X</button>
		<h3>Modal header</h3>
	</div>
	<div class="modal-body">
		<form action="/Account/createAccount" method="post">
			<div class="control-group">
				<label class="control-label" for="email">Email address <i
					class="icon-envelope"></i></label> <input name="email" type="text">
				<label>Password</label><input type="password" placeholder="password"
					name="password"> <label>Full Name</label><input type="text"
					placeholder="FirstName" name="fullname">
			</div>
			<div class="modal-footer">
				<a href="#" class="btn" data-dismiss="modal">Cancel</a>
				<button type="submit" class="btn">Create Account</button>
			</div>
		</form>
	</div>
</div>
}

@main(pageDetails)(header)(sidebarLeft)(sidebarRight)(footer){
    
   @if(pageDetails.currentUserDetails!=null){
   		@loginContent
   }else{
   		@nonLoginContent
   }
   @modalContent
}