@(pageDetails:PageDetails,action:String)



@profileContent={
<div class="box-layout-main">
	<div class="row">
		<div class="span8">
			<div class="row">
				<div class="span2 ">@loginContentSidebarMenu</div>
				<div class="span6 ">@profileStatic</div>
			</div>
		</div>
		<div class="span6">
			@tabContent
			
		</div>
	</div>
</div>
}

@loginContentSidebarMenu={
	
		<ul class="nav nav-pills nav-stacked">
			<li class=""><a href="#">Colleagues</a></li>
			<li class=""><a href="/Account/viewAllPost">Post (@pageDetails.currentUserDetails.posts.size())</a></li>
			<li class=""><a href="#">Articles</a></li>
			<li class=""><a href="#">Events</a></li>
		</ul>

}

@tabContent={

	<ul id="myTab" class="nav nav-tabs">
		<li class="active"><a href="#posts" data-toggle="tab">Latest Post</a></li>
		<li><a href="#articles" data-toggle="tab">Latest Articles</a></li>
		<li ><a href="#community" data-toggle="tab">Latest Hubbers</a></li>
	</ul>
	<div id="myTabContent" class="tab-content">
		<div class="tab-pane fade in active" id="post">
			<p>Raw denim you probably haven't heard of them jean shorts
				Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse.
				Mustache cliche tempor, williamsburg carles vegan helvetica.
				Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby
				sweater eu banh mi, qui irure terry richardson ex squid. Aliquip
				placeat salvia cillum iphone. Seitan aliquip quis cardigan american
				apparel, butcher voluptate nisi qui.</p>
		</div>
		<div class="tab-pane fade" id="articles">
			<p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla
				single-origin coffee squid. Exercitation +1 labore velit, blog
				sartorial PBR leggings next level wes anderson artisan four loko
				farm-to-table craft beer twee. Qui photo booth letterpress, commodo
				enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum
				PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus
				mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente
				labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit,
				sustainable jean shorts beard ut DIY ethical culpa terry richardson
				biodiesel. Art party scenester stumptown, tumblr butcher vero sint
				qui sapiente accusamus tattooed echo park.</p>
		</div>
		<div class="tab-pane fade" id="community">
			<p>Etsy mixtape wayfarers, ethical wes anderson tofu before they
				sold out mcsweeney's organic lomo retro fanny pack lo-fi
				farm-to-table readymade. Messenger bag gentrify pitchfork tattooed
				craft beer, iphone skateboard locavore carles etsy salvia banksy
				hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid
				8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free,
				carles pitchfork biodiesel fixie etsy retro mlkshk vice blog.
				Scenester cred you probably haven't heard of them, vinyl craft beer
				blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>
		</div>
	</div>

} 

@profileStatic={
	<div class="">
		<ul class="nav nav-pills nav-stacked">
			<li class=""><a href="#">Colleagues</a></li>
			<li class=""><a href="#">Post</a></li>
			<li class=""><a href="#">Articles</a></li>
			<li class=""><a href="#">Events</a></li>
		</ul>
	</div>
}

@profileHome={
	
} 

@createPost={
	<div>
	<h3>Create a Post</h3>
	  <form action="/Account/submitPost" method="post">
		<div class="control-group">
			<label>Title</label><input type="text" placeholder="Title" name="title">
			<label>Content</label><textarea name="content" ></textarea>
			<div class="btn-group">
			<button type="submit" class="btn" >Submit Post</button>
			<a class="btn" href="/">Cancel</a>
			</div>
		</div>
	</form>
	</div>
}

@viewAllPost={
	<div>
		@for(post <- pageDetails.currentUserDetails.posts) {
  			<div class="well">
  				<a href="#">Title: @post.title</a>
  				Posted at: @post.postedAt
  				Comments:
  				Rate:
  			</div>
	} 
	</div>
}



@main(pageDetails){

	@profileContent
}