@(username: String)

@main(username) {
    
    <div class="page-header">
        <h1>Welcome to the WEBSOCKET TEST <small>You are @username</small></h1>
    </div>
    
    <div id="onError" class="alert-message error">
        <p>
            <strong>Oops!</strong> <span></span>
        </p>
    </div>
    
    <div id="onChat" class="row">
        <div class="span10" id="main">
            <div id="messages">
            </div>
            <textarea id="talk"></textarea>
        </div>
        <div class="span4">
            <h2>Members</h2>
            <ul id="members">
            </ul>
        </div>
        
         <div class="span4">
            <h2>Members</h2>
            <ul id="dummymembers">
            	<li> <a id="user1">user1</a></li>
            	<li> <a id="user2">user2</a></li>
            	<li> <a id="user3">user3</a></li>
            	<li> <a id="user4">user4</a></li>
            	<li> <a id="user5">user5</a></li>
            	<li> <a id="user6">user6</a></li>
            </ul>
        </div>
        
    </div>
    
    <div id="chatContainer" hidden="true" class="span9 columns">
			<ul id="myTab" class="nav nav-tabs">
			</ul>
			<div id="myTabContent" class="tab-content">
			</div>
		</div>
    
    
    <script type="text/javascript" charset="utf-8">
    
   	 $(document).ready(function(){
    	  $("#dummymembers li a").click(function(){
    		  
    		  $('#myTab li').removeClass("active")
    		  var target = $(this).attr("id")
    		  
    		  var el = $('<li class="active"><a href="#'+ target +'content" data-toggle="tab" id="'+target+'">'+target+'</a></li>')
    		   $('#myTab').append(el)
    		   
			 $('#myTabContent div').removeClass("in")
			 $('#myTabContent div').removeClass("active")

    		  var el3=$('<div class="tab-pane fade in active" id="'+target+'content"><div id="'+target+'messages"></div>message<input id="'+target+'talk"></input> </div>')
    		  $('#myTabContent').append(el3)
    		  $("#chatContainer").show()
    		  
    		
    	  });
    	});
    
    
        $(function() {
            var WS = window['MozWebSocket'] ? MozWebSocket : WebSocket
	        var chatSocket = new WS("@routes.Application.chat(username).webSocketURL(request)")
            
            var sendMessage = function() {
                chatSocket.send(JSON.stringify(
                    {text: $("#talk").val()}
                ))
                $("#talk").val('')
            }
            
            var receiveEvent = function(event) {
                var data = JSON.parse(event.data)
                
                // Handle errors
                if(data.error) {
                    chatSocket.close()
                    $("#onError span").text(data.error)
                    $("#onError").show()
                    return
                } else {
                    $("#onChat").show()
                }
                
                // Create the message element
                var el = $('<div class="message"><span></span><p></p></div>')
                $("span", el).text(data.user)
                $("p", el).text(data.message)
                $(el).addClass(data.kind)
                if(data.user == '@username') $(el).addClass('me')
                $('#messages').append(el)
                
                // Update the members list
                $("#members").html('') 
                $(data.members).each(function() {
                    $("#members").append('<li>' + this + '</li>')
                })
            }
            
            var handleReturnKey = function(e) {
                if(e.charCode == 13 || e.keyCode == 13) {
                    e.preventDefault()
                    sendMessage()
                } 
            }
            
            $("#talk").keypress(handleReturnKey)  
            
            chatSocket.onmessage = receiveEvent
            
        })
    
    </script>
    
}