@(pageDetails:PageDetails)





	
@viewCollegues={

}

@viewPost={

}

@viewArticles={

}

@viewEvents={

}


	
@nonLoginContent={ 
	<div class="accordion" id="accordion2">
		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse"
					data-parent="#accordion2" href="#collapseOne"> Collapsible Group
					Item #1 </a>
			</div>
			<div id="collapseOne" class="accordion-body collapse in">
				<div class="accordion-inner">c1</div>
			</div>
			<div class="accordion-group">
				<div class="accordion-heading">
					<a class="accordion-toggle" data-toggle="collapse"
						data-parent="#accordion2" href="#collapseTwo"> Collapsible
						Group Item #2 </a>
				</div>
				<div id="collapseTwo" class="accordion-body collapse">
					<div class="accordion-inner">c2</div>
				</div>
			</div>
			<div class="accordion-group">
				<div class="accordion-heading">
					<a class="accordion-toggle" data-toggle="collapse"
						data-parent="#accordion2" href="#collapseThree"> Collapsible
						Group Item #3 </a>
				</div>
				<div id="collapseThree" class="accordion-body collapse">
					<div class="accordion-inner">c3</div>
				</div>
			</div>
		</div>
	</div>	
} 



@main(pageDetails){

	
		@nonLoginContent 
	 
	

}